<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/mieux-lilac.css"
            id="org.eclipse.mieux.theme.lilac"
            label="%theme.lilac.label">
      </theme>
   </extension>

</plugin>
